/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body {
  height: 100%;
  background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}


section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
  background-color: white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 60px;            
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 107px; 
}



/* Boutons */

#menu-categories {
	display: flex;
	justify-content: center;
	gap : 10px;
	margin-bottom: 50px;
	margin-top: 50px;
}

#menu-categories button {
	border: 1px solid #1D6154;
	background: #FFFEF8;
    border-radius: 60px;
	color : #1D6154;
    font-family: 'Work Sans';
	font-size: 16px;
    font-weight: 700;
    height: 37px;
	cursor: pointer;
	padding: 9px 22px;
	width: auto;
	height: 37px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#menu-categories button:hover {
  background-color: #1D6154;
  color: white;
}

/* Page login */
#login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 355px;
}

#login h2{
	margin-bottom: 37px;
}

#login form{
	display: flex;
	flex-direction: column;
	color : #3D3D3D;
}

#login input {
	height: 50px;
	width: 379px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

#login button{
	height: 36px;
	width: 179px;
	margin: 37px auto 0 auto;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin-top : 37px ;
	text-align: center;
	border-radius: 60px;
	border: none;
	cursor: pointer;
	display: block;
}

#login a {
  text-align: center;
  text-decoration: underline;
  display: block;
  margin-top: 28px;
}



/* Modale admin */
.edit-banner {
  height: 59px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-banner {
  display: flex;
  align-items: center;
  gap: 11px;
  font-family: 'Work Sans';
  font-size: 16px;
}

/* Titre "Mes projets" + bouton modifier */
.projets-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 31px;
  margin-top: 139px;
  margin-bottom: 92px;
}

.edit-projects {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  color: black;
  font-family: 'Work Sans';
  font-size: 14px;
  cursor: pointer;
}

.edit-projects i {
  font-size: 16px;
}


/* Page edit */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

/* rectangle blanc */
.modal-content {
  background: white;
  width: 630px;
  height: 688px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* croix */
.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* titre */
.modal-content h3 {
  font-family: 'Work Sans';
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 60px;
}

/* block miniatures */
.modal-gallery {
  margin: 46px 105px 67px 105px; 
  display: grid;
  grid-template-columns: repeat(5, 77px);
  column-gap: 9px;
  row-gap: 29px;
}

/* miniature */
.modal-gallery figure {
  width: 77px;
  height: 102px;
  position: relative;
}

.modal-gallery img {
  width: 77px;
  height: 102px;
  object-fit: cover;
}


/* poubelle */
.modal-trash {
  position: absolute;
  top: 6px;
  right: 5px;
  background: black;
  color: white;
  border: none;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  font-size: 10px;
}

/* trait */
.modal-separator {
  width: 420px;
  border: 1px solid #B3B3B3;
  margin-bottom: 38px;
}

/* bouton ajouter */
.modal-add {
  background: #1D6154;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 49px;
  font-family: 'Syne';
  font-weight: 700;
  cursor: pointer;
}
